html,
body, main {
  padding: 0;
  margin: 0;
  font-family: 'bookkMJ', sans-serif !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

* {
  font-family: 'bookkMJ', sans-serif !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  touch-action: pan-y;
}

  @font-face {
    font-family: 'bookkMJ';
    src: url('/static/fonts/bookkMJ.ttf');
    font-style: medium;
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'bookkMJ_bold' !important;
    src: url('/static/fonts/bookkMJ_bold.ttf') format('truetype');
    font-weight: 'bold';
    font-style: 'normal';
    font-display: 'swap';
  }

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
